.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.layout label {
  font-weight: bold;
} 

.blue {
 background-color: #cce6f7;
 /* background-color: #d0eafc; */
}

.green {
 background-color: #c9e6d9;
 /* background-color: #d0f0e0;*/

}

.dropdown {
  margin-left: 1rem;
}