.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.layout label {
  font-weight: bold;
} 

.yellow {
  background-color: #f9c74f;
}

.blue {
 background-color: #4d9de0; 
 /* background-color: #1d4e89; */
}

.red {
  background-color: #f94144;
}

.dropdown {
  margin-left: 1rem;
}