.layout {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.auto {
  background-color: #7f8a84;
  color: #fafbf9;
}

.light {
  background-color: #fafbf9;
  color: #1f232a;
}

.dark {
  background-color: #1f232a;
  color: #fafbf9;
}

.select {
  margin-left: 1rem;
  padding: 0.1rem;
}